
h2{
    display: flex;
    justify-content: center;
}

.navbase{
    font-size: 20px;
    font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
}
.marge{
 margin : 30px;
}

.marge_card_crit{
    margin : 60px;
}

a{
    text-decoration: none;
}

.white{
    color: white;
}
a:hover{
    color: grey;
}

.abs
{
  position: absolute;
  width: 100%;
  left: 0;
  top:15px;
  text-align: center;
}