{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card mb-3">
    <h2> Crée une critique </h2>
    <div class="card-header">
        <p> Vous étes entrain de poster en réponse à </p>
        <div class="card">
            <div class="card-body">

                <!--                Debut-->
                <div class="card">
                    <div class="card-header">
                        Ticket de {{ ticket.user }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Titre : {{ ticket.title }}</h5>
                        <p class="card-text">Description : {{ ticket.description }}</p>
                        <img src="/media/{{ticket.image }}" style="width: 12rem;" class="card-img-bottom m-3" alt="...">

                    </div>
                </div>
                <!--                Fin-->

            </div>
        </div>
        <div class="card m-5">
            <h2 class="card-title">Critique</h2>
            <div class="card-body">
            <form method="POST" action="" class="m2">
                {{ review_form|crispy }}
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
                </div>
        </div>
    </div>


    {% endblock content %}
