
{% extends 'review/base.html' %}
{% block content %}
    <h2>{{ Critique.title }}</h2>
    <img src="{{ Critique.photo.image.url }}">
    <p>{{ Critique.photo.caption }}</p>
    <p>{{ Critique.content }}</p>

<div class="card" style="width: 18rem;">
  <img src="{{ crit.photo.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ crit.title }} </h5>
    <p class="card-text"> {{ crit.content }} </p>
  </div>
  <div class="card-body">
    <a href="{% url 'edit_crit' crit.id %}" class="card-link">  <i class="fa-solid fa-pen-to-square"></i> Edition de la critique </a>
  </div>
</div>


{% endblock content %}